
@{
    ViewBag.Title = "Cadastrar_Noticia";
}

<h2>Cadastrar_Noticia</h2>

<form method="post">
    NOME:
    <input type="text" id="txt_nome" name="txt_nome" />
    Tipo:
    <input type="text" id="txt_tipo" name="txt_tipo" />

    Descricao:
    <input type="text" id="txt_descricao" name="txt_descricao" />
    <input type="submit" value="SALVAR" />
</form>

