
@{
    ViewBag.Title = "Login_ADM";
}

<h2>Login_ADM</h2>


<form action="Login_ADM" method="post">
    Nome:
    <input type="text" id="txt_Nome" name="txt_Nome" />
    Senha:
    <input type="text" id="txt_Senha" name="txt_Senha" />
    <br />
    <br />
    <input class="btn-success" type="submit" value="Entrar" />
</form>

@Html.ActionLink("MENU", "Menu", "Usuario") <br />

