
@{
    ViewBag.Title = "Menu_ADM";
}

<h2>Menu_ADM</h2>

@Html.ActionLink("GERENCIAR", "Listar_Noticia", "Usuario") <br />
@Html.ActionLink("SAIR", "Login_ADM", "Usuario") <br />

@section rodape{
    <p>Aqui fica somente o rodape MENU ADM</p>
}



