
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>

@Html.ActionLink("CADASTRAR USUARIO", "Cadastrar_Usuario", "Usuario") <br />
@Html.ActionLink("Login ADM", "Login_ADM", "Usuario") <br />
@Html.ActionLink("Login USER", "LoginUSER", "Usuario") <br />

