
@{
    ViewBag.Title = "Cursos";
}



<div class="jumbotron">
    <h1>Nossos Cursos</h1>
    <p class="lead">A UNIFACEAR foi credenciada pelo Ministério da Educação no ano de 2001. Desde então vem em um grande processo de expansão.</p>
    <p><a href="https://www.unifacear.edu.br/sobre" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Analise d sistemas</h2>
        <p>
            O curso superior de Tecnologia em Análise e Desenvolvimento de Sistemas da UNIFACEAR
            prepara profissionais capacitados para atuar no mercado de tecnologia da informação, um dos mais promissores da atualidade..
        </p>
        <p><a class="btn btn-default" href="https://www.unifacear.edu.br/cursos-presenciais">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Direito</h2>
        <p>O objetivo principal do Curso de Direito da UNIFACEAR e capacitar o profissional para os mais diversos segmentos das áreas jurídicas,
        de modo que tenha inserção imediata no mercado de trabalho, e,
        consequentemente sucesso profissional. Assim, além de uma remuneração condigna,
        o profissional irá desfrutar de grande respeito e prestígio por parte da sociedade em geral..</p>
        <p><a class="btn btn-default" href="https://www.unifacear.edu.br/cursos-presenciais/direito">Leia mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fisioterapia</h2>
        <p> principal objetivo do curso de Fisioterapia da UNIFACEAR é preparar fisioterapeutas generalistas, humanistas, com pensamento crítico e reflexivo, com capacidade de atuar em todos os níveis de atenção à saúde.</p>
        <p><a class="btn btn-danger" href="https://go.microsoft.com/fwlink/?LinkId=301867">Leia mais &raquo;</a></p>
    </div>
</div>

