
@{
    ViewBag.Title = "Profesores";
}

<h2>Pesquisa de Satisfação</h2>
<div align="center">

    <IFRAME class=".resp-iframe " name=Destaques src="https://docs.google.com/forms/d/e/1FAIpQLScRIgkcpSdf3TxrlhXDGrYEQfCrDK71jJJG5JRpRtw4uUzRiw/viewform?usp=sf_link" frameBorder=0 width=1000 height=251 scrolling="yes"></IFRAME>
</div>
<p><a class="btn btn-success" href="http://localhost:54719/Facear/Profesores">Salvar Pesquisa &raquo;</a></p>