
@model WebApplication2.Models.Pessoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<label>Nome</label>
<p>@Model.Nome</p>

<label>Idade</label>
<p>@Model.Idade</p>

<label>Id</label>
<p>@Model.Id_pessoa</p>

