
@{
    ViewData["Title"] = "New_Aluno";
}

<h2>New_Aluno</h2>

<form method="post">
    NOME:
    <input type="text" id="txt_nome" name="txt_nome" />
    IDADE:
    <input type="text" id="txt_idade" name="txt_idade" />
    <input  type="submit" value="SALVAR"/>
</form>

