@{
    Layout = null;
}


<!DOCTYPE html>
<style>
    .menu {
        float: left;
        width: 200px;
        height: 450px;
        background-color: green;
    }


</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="menu">
        <ul>
            <li>@Html.ActionLink("Noticias","Noticias","Noticias")</li>
            <li>Mundo</li>
        </ul>
    </div>
</body>
</html>
