@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    .footer {
        background-color: blue;
        width: 100%;
        height: 50px;
        float: right;
        text-align: center;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> RODAPE GERAL</title>
</head>
<body>
    <div class="footer">
        <text>RODAPE GERAL</text>
    </div>
</body>
</html>
