
@{
    ViewBag.Title = "Login";
}

<h2>LOGIM DO SISTEMA</h2>


<form action="Login" method="post">
    Nome:
    <input type="text" id="txt_Nome" name="txt_Nome" />
    Senha:
    <input type="text" id="txt_Senha" name="txt_Senha" />
    <br />
    <br />
    <input class="btn-success" type="submit" value="Entrar" />
</form>
<br />
<br />

@Html.ActionLink("VISITAR NOSSSO SITE", "Menu_USUARIO", "Menu_") <br />

