
@{
    ViewBag.Title = "Login_";
}

<h2>Login_</h2>


<form method="post">
    Nome:
    <input type="text" id="Nome" name="Nome" />
    Cpf:
    <input type="text" id="Cpf" name="Cpf" />
    <br />
    <br />
    <input class="btn-success" type="submit" value="Entrar" />
</form>
@Html.ActionLink("CADASTRAR", "Menu_", "CadastrarPessoa") <br />

