
@{
    ViewBag.Title = "Menu_";
}

<h2>Menu_</h2>



@Html.ActionLink("CADASTRAR", "Cadastrar_", "CadastrarPessoa") <br />
@Html.ActionLink("LISTAR", "ListaTodos", "CadastrarPessoa")<br />
@Html.ActionLink("ALTERAR", "EditarTodos", "CadastrarPessoa")<br />
@Html.ActionLink("ALTERAR", "Login_", "CadastrarPessoa")<br />


