
@{
    ViewBag.Title = "Menu_";
}

<h2>MENU ADMINISTRADOR</h2>


<td>@Html.ActionLink("Cadastrar", "Cadastrar", "Produto")</td>
<br />
<td>@Html.ActionLink("Listar", "Listar", "Produto")</td>
<br />
<td>@Html.ActionLink("Sair", "Login", "Login")</td>
<br />
@section rodape{

}
